@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

$rem-base: 16px !default;

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
    $value: strip-unit($value) / strip-unit($base-value) * 1em;
    @if ($value == 0em) { $value: 0; } // Turn 0em into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);

    @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

$gray: #626d75;
$mid-gray: #768289;
$white: #f3f6f6;
$orange: #E8C278;

$font-family: 'Open Sans', sans-serif;

body {
    font: {
        size: 16px;
        family: $font-family;
        weight: 300;
    }
}

section {
    padding: rem-calc(50px);

    /* Directory */
    &#directory {
        background-color: $gray;
        height: 1320px;

        div.row { 
            div {
                h1 {
                    color: $orange;
                    font: {
                        weight: 300;
                        size: 2.25rem;
                        family: $font-family;
                    }
                    
                    img {
                        margin: 0 1.5rem 0 0;
                    }
                    
                    b {
                        font-weight: 500;   
                    }
                }
                div.tenant-entry {
                    border: {
                        bottom: 1px solid $white;
                    }
                    div p {
                        color: $white;
                        font: {
                            size: 1.8125rem;;
                            family: $font-family;
                            weight: 300;
                        }
                        margin: 0;
                        padding: .6375rem 0;
                    }
                    div:nth-child(even) p {
                        color: $orange;
                        font: {
                            weight: 600;
                        }
                    }
                }
            }
            div:last-of-type {
                div.tenant-entry {
                    border: {
                        bottom: 0px solid $white;
                    }
                }
            }
        }
        
        div.building-name {
            margin: 0 0 2rem 0;
        }
    }
    &#announcements {
        background-color: $mid-gray;
        height: 250px;

        div {
            div {
                h2 {
                    color: $white;
                    font: {
                        size: 2.25rem;
                        weight: 500;   
                        family: $font-family;
                    }
                }
                p {
                    color: $orange;
                    font: {
                        size: 1.8125rem;
                        weight: 500;   
                    }
                }
            }
        }
    }
    &#footer {
        background-color: $white;
        height: 350px;

        div {

            div {
                border: {
                    right: 1px solid $gray;
                }
                text-align: center;

                div {
                    margin: 0;
                    padding: 0;
                    @include vertical-align();
                    
                    h3 {
                        font: {
                            size: 2rem;
                            font-weight: 600;
                            family: $font-family;
                        }
                        line-height: 135%;
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        font-size: 1.25rem;
                        margin: 0 0 .125rem 0;
                        padding: 0;
                    }
                }
            }
            div:last-of-type {
                border: {
                    right: 0px solid $gray;
                }
            }
        }
    }
}